*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Dancing Script', cursive;
}
.carousel-inner img{
    width: 100%;
    height: 80vh;
}
.img-thumbnail{
    height: 80vh;
}
.image1{
    height: 80vh !important;
}
/* .header{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2; 
}*/
.main{
    margin-top:75px;
}
.image2{
    height: 300px !important;
}
p{
    margin-bottom: 0!important;
}
/* .image3 img{
    min-width: 50%!important;
    max-height: 200px!important;
} */
